<div class="content-container">

  <h1 class="title">Medals per Country</h1>

  <div class="container">
    <div class="container-item">Number of JOs<p class="container-value">{{ numberOfJOs }}</p></div>
    <div class="container-item">Number of countries<p class="container-value">{{ numberOfCountries }}</p></div>
  </div>

  <ngx-charts-pie-chart class="graph-pie"
                        [results]="dataPC"
                        [view]="viewPC"
                        [animations]="animationPC"
                        [labels]="labelsPC"
                        [tooltipText]="tooltipPC"></ngx-charts-pie-chart>
</div>
